

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}


.container{
	
	padding: 10px;
	padding-bottom: 50px;

}


p{
	font-size: 
}




/*博文内容样式*/
.blog_post {
  margin-bottom: 60px;
  line-height: 25px;
}
.blog_post_title {
  margin-bottom: 5px;

}


.blog_indent{
	text-indent: 2em;
}



hr{  
	border-top:3px double red;
}

.back{
	width: 140px;
	padding: 10px 20px;
	text-align: center;
	border-radius: 30	
	display: inline-block;
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
}




/*照片包裹及照片*/

.img_wrap{
	width: 100%;
	text-align: center;
}

.img_wrap_2 img{
	width: 80%;
}
